<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>MyWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MDServlet</display-name>
    <servlet-name>MDServlet</servlet-name>
    <servlet-class>MDServlet.MDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MDServlet</servlet-name>
    <url-pattern>/MDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>MDServlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadDataSservlet</display-name>
    <servlet-name>LoadDataSservlet</servlet-name>
    <servlet-class>com.fpltn.servlet.LoadDataSservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadDataSservlet</servlet-name>
    <url-pattern>/LoadDataSservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhMucServlet</display-name>
    <servlet-name>DanhMucServlet</servlet-name>
    <servlet-class>com.fpltn.servlet.DanhMucServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhMucServlet</servlet-name>
    <url-pattern>/DanhMucServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.fpltn.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVLogin</display-name>
    <servlet-name>SVLogin</servlet-name>
    <servlet-class>com.fpltn.servlet.SVLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVLogin</servlet-name>
    <url-pattern>/SVLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccount</display-name>
    <servlet-name>DeleteAccount</servlet-name>
    <servlet-class>com.fpltn.servlet.DeleteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccount</servlet-name>
    <url-pattern>/DeleteAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVUpdateAccount</display-name>
    <servlet-name>SVUpdateAccount</servlet-name>
    <servlet-class>com.fpltn.servlet.SVUpdateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVUpdateAccount</servlet-name>
    <url-pattern>/SVUpdateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVUpdateAccountAdmin</display-name>
    <servlet-name>SVUpdateAccountAdmin</servlet-name>
    <servlet-class>com.fpltn.servlet.SVUpdateAccountAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVUpdateAccountAdmin</servlet-name>
    <url-pattern>/SVUpdateAccountAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVDeleteAccountAdmin</display-name>
    <servlet-name>SVDeleteAccountAdmin</servlet-name>
    <servlet-class>com.fpltn.servlet.SVDeleteAccountAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVDeleteAccountAdmin</servlet-name>
    <url-pattern>/SVDeleteAccountAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVAddproduct</display-name>
    <servlet-name>SVAddproduct</servlet-name>
    <servlet-class>com.fpltn.servlet.SVAddproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVAddproduct</servlet-name>
    <url-pattern>/SVAddproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVUpdateProduct</display-name>
    <servlet-name>SVUpdateProduct</servlet-name>
    <servlet-class>com.fpltn.servlet.SVUpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVUpdateProduct</servlet-name>
    <url-pattern>/SVUpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVDeleteProduct</display-name>
    <servlet-name>SVDeleteProduct</servlet-name>
    <servlet-class>com.fpltn.servlet.SVDeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVDeleteProduct</servlet-name>
    <url-pattern>/SVDeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVAddDanhmuc</display-name>
    <servlet-name>SVAddDanhmuc</servlet-name>
    <servlet-class>com.fpltn.servlet.SVAddDanhmuc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVAddDanhmuc</servlet-name>
    <url-pattern>/SVAddDanhmuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVUpdateDanhmuc</display-name>
    <servlet-name>SVUpdateDanhmuc</servlet-name>
    <servlet-class>com.fpltn.servlet.SVUpdateDanhmuc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVUpdateDanhmuc</servlet-name>
    <url-pattern>/SVUpdateDanhmuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVDeleteDanhmuc</display-name>
    <servlet-name>SVDeleteDanhmuc</servlet-name>
    <servlet-class>com.fpltn.servlet.SVDeleteDanhmuc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVDeleteDanhmuc</servlet-name>
    <url-pattern>/SVDeleteDanhmuc</url-pattern>
  </servlet-mapping>
</web-app>